@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>CRUD Base</h1>
        <p class="lead">CRUD básico para modelo e consulta.</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Bem-vindo ao CRUD Base</h2>
        <p>
            CRUD Base é uma aplicação simples para demonstrar como usar o Entity Framework Core em uma aplicação web ASP.NET Core MVC
        </p>
    </div>
    <div class="col-md-4">
        <h2>Desenvolvido do zero</h2>
        <p>Essa aplicação foi desenvolvida a partir da serie de tutoriais da Microsoft.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Veja o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Baixe o projeto</h2>
        <p>Você pode baixar o projeto completo no repositório GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/main/aspnetcore/data/ef-mvc/intro/samples/5cu-final">Ver o código fonte &raquo;</a></p>
    </div>
</div>